.admin-page h1{
    height: auto;
}

.admin-page{
    padding-bottom: 60px;
}

.admin-page h1{
    background: rgb(188,81,158);
    background: linear-gradient(90deg, rgba(188,81,158,1) 25%, rgba(188,81,158,1) 34%, rgba(128,91,165,1) 74%, rgba(73,32,94,1) 100%);
    padding: 69px;
    color: white;
    font-size: 1.6rem;
}

.admin-page .capture-form{
    width: 360px;
    padding: 20px 5px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: var(--primary-light);
    margin: auto;
    
}

.admin-page .my-control {
    margin-bottom: 12px;
}

.admin-page .my-control label{
    display: inline-block;
    width: 80px;
    text-align: right;
    margin-right: 7px;
}

.admin-page .my-control input{
    display: inline-block;
    width: 230px;
}

.admin-page .btn{
    display: inline-block;
    margin: .5rem;
    background-color: var(--secondary-light);
    color: white;
    border: none;
    box-shadow: 5px 10px 30px var(--secondary-light);
 }

 .admin-page .btn:hover{
    color: white;
    background-color: var(--aux-light);   
 }
